02-workflow-orchestration/flows/13_mod4_gcp_fhv.yaml
id: 13_mod4_gcp_fhv
namespace: zoomcamp
description: |
  Loads FHV (For Hire Vehicle) trip data for all 12 months of 2019
  into GCS and BigQuery. Data source:
  https://github.com/DataTalksClub/nyc-tlc-data/releases/tag/fhv

tasks:
  - id: loop_months
    type: io.kestra.plugin.core.flow.EachSequential
    value: ["01","02","03","04","05","06","07","08","09","10","11","12"]
    tasks:

      - id: extract
        type: io.kestra.plugin.scripts.shell.Commands
        outputFiles:
          - "*.csv"
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-{{taskrun.value}}.csv.gz | gunzip > fhv_tripdata_2019-{{taskrun.value}}.csv

      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.extract[taskrun.value].outputFiles['fhv_tripdata_2019-' ~ taskrun.value ~ '.csv']}}"
        to: "gs://{{kv('GCP_BUCKET_NAME')}}/fhv_tripdata_2019-{{taskrun.value}}.csv"

      - id: bq_fhv_table
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET_NYTAXI')}}.fhv_tripdata`
          (
              dispatching_base_num STRING,
              pickup_datetime TIMESTAMP,
              dropoff_datetime TIMESTAMP,
              PULocationID STRING,
              DOLocationID STRING,
              SR_Flag STRING,
              Affiliated_base_number STRING
          )
          PARTITION BY DATE(pickup_datetime);

      - id: bq_fhv_ext
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET_NYTAXI')}}.fhv_tripdata_2019_{{taskrun.value}}_ext`
          (
              dispatching_base_num STRING,
              pickup_datetime TIMESTAMP,
              dropoff_datetime TIMESTAMP,
              PULocationID STRING,
              DOLocationID STRING,
              SR_Flag STRING,
              Affiliated_base_number STRING
          )
          OPTIONS (
              format = 'CSV',
              uris = ['gs://{{kv('GCP_BUCKET_NAME')}}/fhv_tripdata_2019-{{taskrun.value}}.csv'],
              skip_leading_rows = 1,
              ignore_unknown_values = TRUE
          );

      - id: bq_fhv_insert
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          INSERT INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET_NYTAXI')}}.fhv_tripdata`
          (dispatching_base_num, pickup_datetime, dropoff_datetime, PULocationID, DOLocationID, SR_Flag, Affiliated_base_number)
          SELECT
            dispatching_base_num,
            pickup_datetime,
            dropoff_datetime,
            PULocationID,
            DOLocationID,
            SR_Flag,
            Affiliated_base_number
          FROM `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET_NYTAXI')}}.fhv_tripdata_2019_{{taskrun.value}}_ext`;

      - id: purge_files
        type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"